/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.title {
  display: none;
}

.header__img {
  width: 100%;
}

.header__more-info {
  position: relative;
  top: -3px;
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  
  .header {
    text-align: center;
  }
  
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.section:nth-child(1) {
  padding: 13px 0 16px;
}

.section__add-input-wrapper {
  display: flex;
  margin-top: 20px;
}

.section__incomplete-tasks,
.section__completed-tasks {
  margin: 0;
  padding: 0px;
}

.section__task-item,
.section__title {
  list-style: none;
}

.section__input-text,
.section__checkbox,
.section__button-word,
.section__button-delete {
  box-sizing: border-box;
  outline: none;
}

.section__button-word,
.section__button-delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}

.section__button-word:hover {
  color: #3a3a3a;
}

/* Heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* New Task */
.section__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
  flex-grow: 1;
}

.section__input-text:focus {
  color: #333;
}

/* Task list */
.section__task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__checkbox,
.section__label,
.section__input-text,
.section__button-word,
.section__button-delete,
.section__delete-item-img {
  vertical-align: middle;
}

.section__checkbox {
  margin: 0 10px;
}

.section__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  display: inline-block;
  flex-grow: 1;
}

.section__delete-item-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.section__delete-item-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.section__completed-tasks .section__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.section__task-item .section__input-text {
  display: none;
}

.section__task-item_change .section__input-text {
  display: inline-block;
  width: 224px;
}

.section__task-item_change .section__label {
  display: none;
}